<a class="btn btn-outline-primary btn-sm" href="{% url 'admin:index' %}">Admin</a>

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container d-flex justify-content-between align-items-center position-relative">

        <a class="navbar-brand" href="{% url 'main:index' %}">
            <img src="https://www.svgrepo.com/show/405641/flag-for-flag-ukraine.svg" width="40" height="40" alt="logo">
        </a>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" style="position: absolute; left: 50%; transform: translateX(-50%);">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'additions:list_additions' %}">Дописи</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'map:map_view' %}">Мапа</a>
                </li> 
            </ul>
        </div>


        <div class="d-flex align-items-center gap-2">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary btn-sm rounded-pill" id="createPostButton" style="padding: 0.3rem 0.6rem;">
                Створити допис
            </button>
            
            <script>
                document.getElementById('createPostButton').addEventListener('click', function() {
                    const currentUrl = window.location.pathname;
                    const postPageUrl = "{% url 'additions:list_additions' %}";  
            
                    if (currentUrl !== postPageUrl) {
                        window.location.href = postPageUrl;
                    } else {

                        const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                        modal.show();
                    }
                });
            </script>
            
            {% else %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'members:login' %}">Увійти</a>
            <a class="btn btn-outline-warning btn-sm" href="{% url 'members:signup' %}">Зареєструватися</a>
            {% endif %}
            <div class="dropdown text-end">
                <a href="" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profile.get_avatar}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="{% url 'members:profile'  %}"><i class="fa-solid fa-user"></i>Профіль</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:index'  %}"><i class="fa-solid fa-user"></i>Головна</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'members:logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
