{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="mt-4 rounded-3 bg-body-tertiary p-4">
    {% if not another_user %}
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Профіль</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="favorites-tab" data-bs-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">Обрані</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="self-additions-tab" data-bs-toggle="tab" href="#self-additions" role="tab" aria-controls="self-additions" aria-selected="false">Мої дописи</a>
            </li>
        </ul>
    {% endif %}

    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="text-center">Профіль</h3>
            <p>Ім'я користувача: {{ user.username }}</p>
            <p>Ім'я: {{ user.first_name }}</p>
            <p>Прізвище: {{ user.last_name }}</p>
            <p>Електронна пошта: {{ user.email }}</p>
            <p>Дата реєстрації: {{ user.date_joined }}</p>
            <p>Дата останнього входу: {{ user.last_login }}</p>
            <p>Біографія: {{ user.profile.bio|safe }}</p>
            <p>Місце проживання: {{ user.profile.location }}</p>
            <p>Номер телефону: {{ user.profile.phone }}</p>
            <p>Професія: {{ user.profile.profession }}</p>
        <a href="{% url 'members:profile_update' user.id %}" class="btn btn-primary mt-3">Редагувати профіль</a>
        </div>
        
        <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
            <h3 class="text-center">Обрані дописи</h3>
            <hr class="my-4">
            <div class="row g-4">
                {% for favorite in favorites %}
                <div class="col-4">
                    <div class="card">
                        <a href="{% url 'additions:detale' favorite.addition.id %}" class="text-decoration-none text-white">
                            <img src="{{favorite.addition.get_thumbnail}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ favorite.addition.title }}</h5>
                                <p class="card-text">@{{ favorite.addition.author }}</p>
                                <small class="text-muted">{{ favorite.addition.created_at|timesince }}</small>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <span class="badge bg-secondary">{{ favorite.addition.get_category_display }}</span>
                            {% if user.is_authenticated %}
                            <a href="{% url 'additions:add_favorite' favorite.addition.id %}" class="btn btn-outline-light">
                                {% if favorite.addition.id in favorite_additions %}
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="self-additions" role="tabpanel" aria-labelledby="self-additions-tab">
            <h3 class="text-center">Ваші пости</h3>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Створити допис
            </button>
            <hr class="my-4">
            <div class="row g-4">
                {% for addition in user.additions.all %}
                <div class="col-4">
                    <div class="card">
                    <center>
                        <div class="card-header {% if addition.is_published %}bg-success{% else %}bg-warning{% endif %} text-white">
                            <a href="{% url 'additions:edit_addition' addition.id %}" class="btn btn-sm btn-outline-light">Редагувати</a>
                            <a href="#" class="btn btn-sm btn-outline-light">Видалити</a>
                        </div>
                    </center>
                        <a href="{% url 'additions:detale' addition.id %}" class="text-decoration-none text-white">
                            <img src="{{addition.get_thumbnail}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ addition.title }}</h5>
                                <p class="card-text">@{{ addition.author }}</p>
                                <small class="text-muted">{{ addition.created_at|timesince }}</small>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <span class="badge bg-secondary">{{ addition.get_category_display }}</span>
                            {% if user.is_authenticated %}
                            <a href="{% url 'additions:add_favorite' addition.id %}" class="btn btn-outline-light">
                                {% if addition.id in favorite_additions %}
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                {% endif %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Створити допис</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'additions:create' %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Опублікувати</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
