{% extends 'base.html' %}

{% block title %}Additions{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="mt-3 rounded-3 bg-body-tertiary p-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="max-width: 50%; margin: 0 auto;">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'additions:list_additions' %}">Усі дописи</a>
                </li>
                {% for value, display in category_choices %}
                <li class="nav-item">
                    <a class="nav-link" href="?category={{ value }}">{{ display }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    
    <hr class="my-4">
    <div class="card-container">
        <div class="row g-5">
            {% for addition in additions %}
            <div class="col-lg-4 col-md-6 col-sm-12"> 
                <div class="card">
                    <a href="{% url 'additions:detale' addition.id %}" class="text-decoration-none text-dark">
                        <img src="{{ addition.get_thumbnail }}" class="card-img-top" alt="...">
                        
                        <div class="card-body">
                            <h5 class="card-title text-white">{{ addition.title }}</h5>
                            <small class="text-muted">@{{ addition.author }}</small>
                            <small class="text-muted">{{ addition.created_at|timesince }}</small>
                        </div>
                    </a>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <span class="badge bg-secondary">{{ addition.get_category_display }}</span>
                        {% if user.is_authenticated %}
                        <a href="{% url 'additions:add_favorite' addition.id %}" class="btn btn-outline-light">
                            {% if addition.id in favorite_additions %}
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        

    
    

        <style>
            .pagination {
                display: flex;
                list-style: none;
                padding: 0;
            }
            .pagination li {
                margin: 0 5px;
            }
            .pagination a {
                text-decoration: none;
                color: white;
                padding: 8px 16px;
                border: 1px solid #444;
                border-radius: 4px;
                background-color: #000;
            }
            .pagination a:hover {
                background-color: #555;
            }
            .pagination .active .page-link {
                background-color: #fff;
                color: #000;
            }
            .page-item.disabled .page-link {
                color: #555;
                pointer-events: none;
            }
            .card-container {
                max-width: 2000px;
                margin: 0 auto; 
            }

        </style>
        
        
    </div>
</div>
<div class="text-center mt-3 ">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">‹</span>
                </a>
            </li>
            {% else %}

            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">‹</span>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ num }}</a>
                </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">›</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next">»</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Створити допис</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'additions:create' %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Опублікувати</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        max-width: 850px;
        width: 100%;
    }
    
    .modal-content {
        height: 850px;
    }
    .modal-header, .modal-footer {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .modal-body {
        padding: 1rem;
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .modal-footer {
        display: flex;
        justify-content: flex-end;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .btn {
        padding: 0.5rem 1rem;
    }
    .navbar {
        margin: 0 auto; /* Центрирование навигации */

    }

</style>



{% endblock %}
